
<script id="cad-card-template" type="text/x-handlebars-template">
  <div class="card" data-id="{{ id }}">
    <header class="content">
      <div>{{ description }}</div>
    </header>
    <div class="image">
<<<<<<< HEAD
      <img class='cad_img' src="{{ image_url }}">
=======
      <a href="/cads/{{ id }}">
      <img src="{{ image_url }}"></a>
      <button class="bid_button">Bid</button>
>>>>>>> master
    </div>
  </div>
</script>
<div class="cad_wrapper">
  </div>
