<div>
  <h1>How We Work</h1>

<p>Do you need a mechanical part that is no longer avaliable?

Do you have a 3Dprinter sitting idle?

Are you a CAD designer?

  Print My Ride is a place were you can rapidly connect and collaborate. The options here are limitless: repair a once obsolete washing machine, source that impossible to find engine valve, create a uniqe lamp.  Everything and anthing that you can think can be in the mail overnight.

  Search our database for your required design or contact one of our talented Designers and 3D Scanners to build it for you. Once you have your design you can choose a Printer to create ot for you.

  Three simple steps and your high quality creations are in the mail.

</p>

</div>
